<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container" style="width: 980px">
      <div>
        <h1 class="display-4" style="text-align: center">About Me</h1>
       </div>
       <div class="jumbotro"> 
            
            
            <table style="width: 100%">
                <tr>
                    <td>
                        <p>Content Here</p>
                    </td>
                    <td>
                        <img src="/Assets/images/mypic.png" width="225px" height="275px">
                    </td>
                </tr>
                <tr>
                        <td>
                            <a href="/Assets/resume.pdf">resume</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
            </table>
            
       </div> 

  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>